@model Wine_Shop_Inventory_Application.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/images/titlelogo.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forgot Password</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/Content/plugins/iCheck/square/blue.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Forgot Password</b> Sales Inventory</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">
                <span>Enter the email address associated to receive a reset password link.</span>
            </p>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="text-success">
                    @ViewBag.Message<br />
                </div>
                <div class="form-group has-feedback">
                    <div class="col-md-12">
                        @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "Enter your Email" })
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <input type="submit" class="btn btn-primary btn-block btn-flat" value="Send Reset Link" />
                    </div>
                    <div class="col-xs-6 pull-right">
                        <a href="@Url.Action("Login", "Account")" method="post" class="btn btn-block  btn-default btn-flat">Back</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
