@model Wine_Shop_Inventory_Application.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/images/titlelogo.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Password | Sales Inventory</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/Content/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Content/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/Content/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/Content/plugins/iCheck/square/blue.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Reset Password</b> Sales Inventory</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">
                <b>Reset your password</b>
            </p>
            <section id="loginForm">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "frmResetPassword" }))
                {
                    @Html.HiddenFor(m => m.PasswordResetToken, Model.PasswordResetToken)
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="text-danger">
                            @ViewBag.Message
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group has-feedback">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Reset Password" class="btn btn-primary btn-block btn-flat" />
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/admin-lte/js")
</body>
</html>
